body{
	background-color: #F9ECBA;
	color: #85324E;
	font-size: 1em;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

div {
	padding: 5px;
	margin:8px;
}
button {
	background-color: #85324E;
	border-radius: 40px; 
	border: none;
	margin-left: 22px;
	margin-right:22px;
	padding:6px;
	font-size: 1.5em;
}
button:hover{
	background-color: #BF4186;
}
h1{
	background-color:#85324E;
	font-size: 2em;
	color: #F9ECBA;
	margin: 5px;
	padding: 5px;
	text-align: center;

}

.doll-name{
	background-color:#85324E;
	font-size: 2em;
	color: #F9ECBA;
	margin: 5px;
	padding: 5px;
	text-align: center;

}
nav {
	margin: 6px;
	padding: 6px;	
	display: center;
	color: #F9ECBA;
	margin-right: auto;
	margin-left: auto;
}
nav li{
	display: inline-block;
}
.doll-block{
	margin: 10px;
	background-color:#85324E;
	width:275px;
	height:625px;
	float: left;
	overflow: scroll;
}
.doll-block button{
	background-color:  #F9ECBA;
}

.story_text {
	color: #F9ECBA;
	display: none;
	overflow: scroll;
}

a {
	color:#F9ECBA;
}

.message {
	color: #F9ECBA;
	display: none;
	z-index: 1;
	position: absolute;
}
