body{
	background-color: #F9ECBA;
	color: #85324E;
	font-family: 'Permanent Marker', cursive;
}
div {
	padding: 5px;
}
button {
	background-color: #85324E;
	border-radius: 40px; 
	border: none;
	margin-left: 22px;
	margin-right:22px;
}
button:hover{
	background-color: #BF4186;
}
h1, .doll-name{
	background-color:#85324E;
	color: #F9ECBA;
	margin: 12px;
	padding: 12px;
	text-align: center;
}
nav {
	margin: 6px;
	padding: 6px;	
	display: center;
	color: #F9ECBA;
	margin-right: auto;
	margin-left: auto;
}
nav li{
	display: inline-block;
}
.doll-block{
	margin: 10px;
	background-color:#85324E;
	width:250px;
	/*height:400px;*/
	float: left;
}
.doll-block button{
	background-color:  #F9ECBA;
}

.story_text {
	color: #F9ECBA;
	display: none;
}

.message {
	color: #F9ECBA;
	display: none;
	z-index: 1;
	position: absolute;
}