<div class="doll-block" id="<%= doll.id %>">
	<h1><%= doll.name %></h1>
	<button class="pin-it">pin it</button>
	<button class="story">story</button>
	<img src="/images/voodoo-doll.png">
	<span class="message">OWW!</span>
	<h1> <%= doll.pins %> </h1>
	<p class="story_text"><%= doll.story %></p>
</div>