
  <h1>Create a Voodoo Doll</h1>
  <form action="/dolls" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="story" placeholder="Story">
    <input type="submit" value="Make it!">
  </form>
