
  <h2>Create a Voodoo Doll</h2>
  <p> Write the name of the doll the story behind it</p>
  <p> View the home page to see how many others think your story is worth some dark magic</p>
  <form action="/dolls" method="post">
    <p><input type="text" name="name" placeholder="Name">
    <p><textarea name="story" placeholder="Story"></textarea>
    <p><input type="submit" value="Make it!">
  </form>
